<div class="categories-outer">

    <div class="container" style="text-align: center;">

        <div class="col-lg-6 mx-auto" id="text-1">
            <p class="display-6">
                Want to get food delivered to you? <br> Place your order now.
            </p>
        </div>

        <div class="text-center" style="margin-bottom: 60px; margin-top: 60px;">
            <button type="button" class="btn btn-md btn-outline-dark" (click)="onViewCategory()">Have a look at what we've for you</button>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\HOTPOT.jpg" class="card-img-top" alt="..." [routerLink]="['/Category-page']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Category-page']">HOT POT</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\AssortedPlatter.jpg" class="card-img-top" alt="..." [routerLink]="['/Assorted']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Assorted']">Assorted Platter</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\Beef.jpg" class="card-img-top" alt="..." [routerLink]="['/Beef']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Beef']">Beef</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\Chicken.jpg" class="card-img-top" alt="..." [routerLink]="['/Chicken']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Chicken']">Chicken</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\Duck.jpg" class="card-img-top" alt="..." [routerLink]="['/Duck']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Duck']">Duck</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\Seafood.jpg" class="card-img-top" alt="..." [routerLink]="['/Seafood']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Seafood']">Seafood</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\HandmadeBalls.jpg" class="card-img-top" alt="..." [routerLink]="['/HBalls']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/HBalls']">Handmade Balls</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\HomemadePaste.jpg" class="card-img-top" alt="..." [routerLink]="['/HomemadePaste']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/HomemadePaste']">Homemade Paste</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\HomemadeDummpling.jpg" class="card-img-top" alt="..." [routerLink]="['/HomDummpling']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/HomDummpling']">Homemade Dummpling</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\Beancurd.jpg" class="card-img-top" alt="..." [routerLink]="['/Beancurd']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Beancurd']">Beancurd</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\mushroom.jpg" class="card-img-top" alt="..." [routerLink]="['/Mushroom']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Mushroom']">Mushroom</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\Vegetable.jpg" class="card-img-top" alt="..." [routerLink]="['/Vegetable']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Vegetable']">Vegetable</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\other.jpg" class="card-img-top" alt="..." [routerLink]="['/Other']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Other']">Other</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\Rice&Noodles.jpg" class="card-img-top" alt="..." [routerLink]="['/RiceN']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/RiceN']">Rice&Noodles</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\softdrink.jpg" class="card-img-top" alt="..." [routerLink]="['/SoftD']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/SoftD']">Soft Drink</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="assets\images\alcohol.jpg" class="card-img-top" alt="..." [routerLink]="['/Alcohol']">
                        <div class="card-body">
                            <h5 class="card-title" [routerLink]="['/Alcohol']">Alcohol</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>