<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-column">
                <h3>Location</h3>
                <p>23, Ratchapluek Club, Bang-Sue, Bangkok, Thailand</p>
            </div>

            <div class="col-md-6 footer-column">
                <h3>Contact</h3>
                <p>+66 061 896 7899</p>
            </div>
        </div>
        <hr style="margin-top: 60px;">
    </div>
    <div class="text-center" style="margin-top: 60px;">
        <p>
            Made with <i class="icon ion-heart"></i> by <a href="https://www.thecoducer.com/" target="_blank">SiGG-BaanNokHook</a>
        </p>
        <p>View code on <a href="https://github.com/BaanNokHook/SiGG-Proof-Einstein-Rosen-Bridge-Theory.git" target="_blank">Github</a> </p>
    </div>
</footer> -->